<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        html, body {
            height: 100%; /* Ensures the body takes full height */
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            display: flex;
            flex-direction: column; /* Aligns children (main content and footer) vertically */
        }
        
        main {
            max-width: 800px; /* Limit the width of the content */
            margin: 0 auto; /* Center horizontally */
            text-align: center; /* Center text */
            padding: 20px; /* Add some padding */
        }
        h1 {
            color: #333; /* Dark text color */
            margin-bottom: 20px; 
        }
        p {
            font-size: 18px; /* Increased font size for better readability */
            margin-bottom: 20px; 
        }
        .button {
            display: inline-block; 
            margin: 10px 0; /* Space between links */
            padding: 10px 20px; 
            background-color: #4CAF50; /* Green background */
            color: white; /* White text */
            text-decoration: none; /* Remove underline */
            border-radius: 4px; /* Rounded corners */
            transition: background-color 0.3s; /* Smooth background transition */
        }
        .button a:hover {
            background-color: #45a049; /* Darker green on hover */
        }
    </style>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Welcome, <%= admin.firstName %>!</h1>
        <p>You can now add a course, edit a course, or see the bulk order here:</p>
        <a href="/admin/editCourse?adminEmail=<%=admin.email%>" class="button">Edit a Course</a>
        <a href="/admin/addCourse?adminEmail=<%=admin.email%>" class="button">Add a Course</a>
        <a href="/admin/course/bulk?adminEmail=<%=admin.email%>" class="button">Bulk Order!</a>
    </main>
    <div class="empty-container" style="flex-grow:1"></div>
    <%- include('partials/footer') %>
</body>
</html>
